/* body starts*/
* {
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", sans-serif;
}

/* body ends */



/* <!------------------------------- header start ------------------------------------------> */
header {
    background: rgb(22, 22, 158);
    display: flex;

    padding: 50px 50px 0px 50px;
}

#header-text {
    color: rgb(245, 248, 217);
    font-size: large;
    flex: 2;
    padding-bottom: 20px;

}

#header-text > h1 {
    color: white;
    margin-bottom: -1%;
    font-size: 50px;
}

#header-text > h5 {
    margin-top: 0%;
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 400;
}

#header-text > .icons {
    padding-top: 10px;
    margin-top: 10px;
}

#header-text > p {
    padding-bottom: 25px;

}

#header-text > span {
    padding-left: 1px;
    padding-right: 10px;
}

#header-image {
    padding: 10px 20px 30px 20px;
}

#header-image > img {
    width: 200px;
    height: 220px;
    border: 2px, solid, white;
    flex: 1;

}

/* <!------------------------------- header start ------------------------------------------> */




/* <!------------------------------- Work-experience starts -------------------------------> */

#work-experience > h3 {
    width: 98%;
    border-bottom: 2px solid rgb(9, 53, 248);
    color: white;
    padding-bottom: 5px;
    padding-top: 20px;
}

#work-experience > h3 > span {
    background-color: rgb(9, 53, 248);
    padding: 5px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.job-details {
    display: flex;
    padding-top: 20px;


}

.job-title-date {
    text-align: right;
    padding-right: 15px;
    width: 12%;
}

.company-name-text {
    width: 80%;
}

/* <!------------------------------- Work-experience ends -------------------------------> */




/* <!------------------------------- Education-section starts ---------------------------> */
#education > h3 {
    width: 98%;
    border-bottom: 2px solid rgb(9, 53, 248);
    color: white;
    padding-bottom: 5px;
    padding-top: 20px;
}

#education > h3 >span {
    background-color: rgb(9, 53, 248);
    padding: 5px;
    text-align: left;
    padding-left: 50px;
    padding-right: 110px;
}

.college-details {
    display: flex;
    padding-top: 20px;
}

.college-name-year {
    text-align: right;
    width: 15%;
    padding-right: 20px;
}

.degree-details {
    width: 80%;
}

/* <!------------------------------- Education-section ends  --------------------------------> */




/* <!------------------------------- Communication-section starts ---------------------------> */


#communication > h3 {
    width: 98%;
    border-bottom: 2px solid rgb(9, 53, 248);
    color: white;
    padding-bottom: 5px;
    padding-top: 20px;
}

#communication> h3 >span {
    background-color: rgb(9, 53, 248);
    padding: 5px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.communication-text {
    padding: 20px 35px 20px 50px ;

}

/* <!------------------------------- Communication-section ends   ---------------------------> */