/* body starts*/
*{
    margin: 0%;
    padding: 0%;
}
/* body ends */



/* <!------------------------------- header start ------------------------------------------> */
header{
    background: rgb(22, 22, 158);
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    
}

.header-text{
    margin:50px 30px 20px 55px;
    
    
    color: rgb(245, 248, 217);
    font-size:large;
      
}

h1{
    color: white;
    margin-bottom: 2px;
    font-size: 50px;
}

h5{
    margin-top: 0%;
    padding-bottom: 25px;
    font-size: 25px;
}
.icons{
    padding-top: 10px;
    margin-top: 10px;
}
.header-text p{
    padding-bottom:25px ;
    
}
.header-text  span{
    padding-left: 1px;
    padding-right: 10px;
}

.header-image  img{
    width: 200px;
    height:200px;
    margin-top: 55px ;
    margin-right: 55px; 
    border: 2px ,solid, white ;
}
/* <!------------------------------- header start ------------------------------------------> */




/* <!------------------------------- Work-experience starts -------------------------------> */

.work-experience-heading
{
    width: 98%;
    border-bottom: 2px solid rgb(9, 53, 248); 
    margin-top: 20px;
    align-items: center;
    color: white;
    text-align: center;
}
.work-experience-heading h3{
    width: 250px;
    background-color:rgb(9, 53, 248); 
    padding: 5px;
    text-align: left;
    padding-left: 50px;
}

.job-details{
    display: flex;
    padding-top:20px;
    

}
.job-title-date{
    text-align: right;
    margin-right: 15px;
    width: 12%;
}
.company-name-text{
    width: 80%;
}
/* <!------------------------------- Work-experience ends -------------------------------> */




/* <!------------------------------- Education-section starts ---------------------------> */
.education-heading
{
    width: 98%;
    border-bottom: 2px solid rgb(9, 53, 248); 
    margin-top: 20px;
    align-items: center;
    color: white;
    text-align: center;
}
.education-heading h3{
    width: 250px;
    background-color:rgb(9, 53, 248); 
    padding: 5px;
    text-align: left;
    padding-left: 50px;
}

.college-details{
    display: flex;
    padding-top:20px;
}
.college-name-year{
    text-align: right;
    width: 15%;
    margin-right: 20px;
}
.degree-details{
    width: 80%;
}
/* <!------------------------------- Education-section ends  --------------------------------> */




/* <!------------------------------- Communication-section starts ---------------------------> */


.communication-heading
{
    width: 98%;
    border-bottom: 2px solid rgb(9, 53, 248); 
    margin-top: 20px;
    align-items: center;
    color: white;
    text-align: center;
}
.communication-heading h3{
    width: 250px;
    background-color:rgb(9, 53, 248); 
    padding: 5px;
    text-align: left;
    padding-left: 50px;
}
.communication-text{
    margin-left: 20px;
    padding: 20px
    
}
/* <!------------------------------- Communication-section ends   ---------------------------> */

